<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 fixed-navbar">
  <div class="d-flex align-items-center">
    <a routerLink="/inicio">      
      
      <img src="assets/img/biblioteca.png" alt="biblioteca" class="login-logo">

    </a>
    <span class="logo-text ms-2">Biblioteca Web</span>
  </div>

  <div class="ms-auto d-flex align-items-center">
    <span class="me-3">Hola, Felipe</span>
    <button class="btn btn-outline-danger btn-sm" routerLink="/login">Salir</button>
  </div>
</nav>
