<div class="container mt-4">
    <h1 class="mb-4 text-center">Lista de Libros</h1>

    <div class="d-flex align-items-center justify-content-between mb-3">

        <div class="d-flex justify-content-between" style="min-width: 180px; margin-left: 150px;">
            <app-btn-agregar (click)="openModal()"></app-btn-agregar>
        </div>

        <div *ngIf="!isLoading || libros.length !== 0"
            class="d-flex flex-wrap align-items-center justify-content-center gap-2 flex-grow-1">

            <div class="flex-grow-1" style="min-width: 250px; max-width: 350px; margin-right: 20px;">
                <app-filtro-busqueda [searchControl]="searchControl" (clear)="limpiarBusqueda()"
                    placeholder="Buscar libro...">
                </app-filtro-busqueda>
            </div>

            <div>
                <app-btn-limpiar (click)="limpiarBusqueda()"></app-btn-limpiar>
            </div>

            <div *ngIf="!errorMessage" class="d-flex justify-content-end" style="min-width: 180px;">
                <app-filtro-orden [data]="libros" textField="titulo" dateField="fechaCreacion"
                    (sortedData)="libros = $event">
                </app-filtro-orden>
            </div>

        </div>
    </div>

    <div *ngIf="!isLoading && libros.length === 0 && !errorMessage" class="alert alert-info text-center mx-auto mt-3"
        style="width: 50%;"> No existen libros registrados
    </div>

    <div class="table-container">
        <ng-container *ngIf="!isLoading && libros.length > 0 && !errorMessage; else errorBlock">
            <table>
                <thead>
                    <tr *ngIf="librosPaginados">
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Registro ISBN</th>
                        <th>Disponibilidad</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de actualización</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let libro of librosPaginados">
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.nombreAutor }}</td>
                        <td>{{ libro.isbn }}</td>
                        <td>
                            <span class="badge" [ngClass]="libro.activo ? 'bg-success' : 'bg-danger'">
                                {{ libro.activo ? 'Disponible' : 'Ocupado' }}
                            </span>
                        </td>
                        <td>{{ libro.fechaCreacion }}</td>
                        <td>{{ libro.fechaActualizacion }}</td>
                        <td>
                            <app-btn-editar (clickEvent)="openModal(libro)"></app-btn-editar>
                            <app-btn-eliminar (clickEvent)="eliminarLibro(libro.id)"></app-btn-eliminar>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #errorBlock>
            <div *ngIf="!isLoading && errorMessage" class="alert alert-danger text-center mx-auto mt-2"
                style="width: 50%;">
                {{ errorMessage }}
            </div>
        </ng-template>
    </div>

    <app-paginador [data]="libros" (paginatedDataChange)="onPageChange($event)"></app-paginador>
</div>

<app-form-modal *ngIf="showModal" [show]="showModal" [title]="!libroSeleccionado ? 'Agregar libro' : 'Editar libro' "
    (closed)="closeModal()">

    <app-libro-form [libro]="libroSeleccionado" (guardado)="onSave()" (cancelar)="closeModal()"></app-libro-form>

</app-form-modal>

<app-confirm-modal *ngIf="showConfirm" [show]="showConfirm" [title]="'Eliminar libro'"
    [message]="'¿Está seguro que desea eliminar este libro?'" (confirmed)="onConfirmDelete(true)"
    (cancelled)="onConfirmDelete(false)">
</app-confirm-modal>