<div class="container mt-4">
    <h1 class="mb-4 text-center">Lista de Miembros</h1>

    <div class="d-flex align-items-center justify-content-between mb-3">

        <div class="d-flex justify-content-between" style="min-width: 180px; margin-left: 150px;">
            <app-btn-agregar (click)="openModal()"></app-btn-agregar>
        </div>

        <div *ngIf="!isLoading || miembros.length !== 0"
            class="d-flex flex-wrap align-items-center justify-content-center gap-2 flex-grow-1">

            <div class="flex-grow-1" style="min-width: 250px; max-width: 350px; margin-right: 20px;">
                <app-filtro-busqueda [searchControl]="searchControl" (clear)="limpiarBusqueda()"
                    placeholder="Buscar miembro...">
                </app-filtro-busqueda>
            </div>

            <div>
                <app-btn-limpiar (click)="limpiarBusqueda()"></app-btn-limpiar>
            </div>

            <div *ngIf="!errorMessage" class="d-flex justify-content-end" style="min-width: 180px;">
                <app-filtro-orden [data]="miembros" textField="nombre" dateField="fechaCreacion"
                    (sortedData)="miembros = $event">
                </app-filtro-orden>
            </div>

        </div>
    </div>

    <div *ngIf="!isLoading && miembros.length === 0 && !errorMessage" class="alert alert-info text-center mx-auto mt-3"
        style="width: 50%;"> No existen miembros registrados
    </div>

    <div class="table-container">
        <ng-container *ngIf="!isLoading && miembros.length > 0 && !errorMessage; else errorBlock">
            <table>
                <thead>
                    <tr *ngIf="miembrosPaginados">
                        <th>Biblioteca</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo de identificación</th>
                        <th>Numero de identificación</th>
                        <th>Teléfono</th>
                        <th>Activo</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let miembro of miembrosPaginados">
                        <td>{{ miembro.nombreBiblioteca }}</td>
                        <td>{{ miembro.nombre }}</td>
                        <td>{{ miembro.apellido }}</td>
                        <td>{{ miembro.tipoIdentificacion }}</td>
                        <td>{{ miembro.numeroIdentificacion }}</td>
                        <td>{{ miembro.telefono }}</td>
                        <td>
                            <span class="badge" [ngClass]="miembro.activo ? 'bg-success' : 'bg-danger'">
                                {{ miembro.activo ? 'Activo' : 'Inactivo' }}
                            </span>
                        </td>
                        <td>{{ miembro.fechaCreacion }}</td>
                        <td>
                            <app-btn-editar (clickEvent)="openModal(miembro)"></app-btn-editar>
                            <app-btn-eliminar (clickEvent)="eliminarMiembro(miembro.id)"></app-btn-eliminar>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #errorBlock>
            <div *ngIf="!isLoading && errorMessage" class="alert alert-danger text-center mx-auto mt-2"
                style="width: 50%;">
                {{ errorMessage }}
            </div>
        </ng-template>
    </div>

    <app-paginador [data]="miembros" (paginatedDataChange)="onPageChange($event)"></app-paginador>
</div>

<app-form-modal *ngIf="showModal" [show]="showModal"
    [title]="miembroSeleccionado ? 'Editar miembro' : 'Agregar miembro'" (closed)="closeModal()">

    <app-miembro-form [miembro]="miembroSeleccionado" (guardado)="onSave()" (cancelar)="closeModal()">
    </app-miembro-form>

</app-form-modal>

<app-confirm-modal *ngIf="showConfirm" [show]="showConfirm" [title]="'Eliminar miembro'"
    [message]="'¿Está seguro que desea eliminar este miembro?'" (confirmed)="onConfirmDelete(true)"
    (cancelled)="onConfirmDelete(false)">
</app-confirm-modal>