<div class="container mt-4">
    <h1 class="mb-4 text-center">Lista de Usuarios</h1>

    <div class="d-flex align-items-center justify-content-between mb-3">

        <div class="d-flex justify-content-between" style="min-width: 180px; margin-left: 150px;">
            <app-btn-agregar (click)="openModal()"></app-btn-agregar>
        </div>

        <div *ngIf="!isLoading || usuarios.length !== 0"
            class="d-flex flex-wrap align-items-center justify-content-center gap-2 flex-grow-1">

            <div class="flex-grow-1" style="min-width: 250px; max-width: 350px; margin-right: 20px;">
                <app-filtro-busqueda [searchControl]="searchControl" (clear)="limpiarBusqueda()"
                    placeholder="Buscar usuario...">
                </app-filtro-busqueda>
            </div>

            <div>
                <app-btn-limpiar (click)="limpiarBusqueda()"></app-btn-limpiar>
            </div>

            <div *ngIf="!errorMessage" class="d-flex justify-content-end" style="min-width: 180px;">
                <app-filtro-orden [data]="usuarios" textField="titulo" dateField="fechaCreacion"
                    (sortedData)="usuarios = $event">
                </app-filtro-orden>
            </div>

        </div>
    </div>

    <div *ngIf="!isLoading && usuarios.length === 0 && !errorMessage" class="alert alert-info text-center mx-auto mt-3"
        style="width: 50%;"> No existen usuarios registrados
    </div>

    <div class="table-container">
        <ng-container *ngIf="!isLoading && usuarios.length > 0 && !errorMessage; else errorBlock">
            <table>
                <thead>
                    <tr *ngIf="usuariosPaginados">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let usuario of usuariosPaginados">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.usuario }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>
                            <app-btn-editar (clickEvent)="openModal(usuario)"></app-btn-editar>
                            <app-btn-eliminar (clickEvent)="eliminarUsuario(usuario.id)"></app-btn-eliminar>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #errorBlock>
            <div *ngIf="!isLoading && errorMessage" class="alert alert-danger text-center mx-auto mt-2"
                style="width: 50%;">
                {{ errorMessage }}
            </div>
        </ng-template>
    </div>

    <app-paginador [data]="usuarios" (paginatedDataChange)="onPageChange($event)"></app-paginador>
</div>

<app-form-modal *ngIf="showModal" [show]="showModal" [title]="usuarioSeleccionado ? 'Editar usuario' : 'Agregar usuario'"
    (closed)="closeModal()">

    <app-usuario-form [usuario]="usuarioSeleccionado" (guardado)="onSave()" (cancelar)="closeModal()"></app-usuario-form>

</app-form-modal>

<app-confirm-modal *ngIf="showConfirm" [show]="showConfirm" [title]="'Eliminar usuario'" [message]="'¿Está seguro que desea eliminar este usuario?'"
    (confirmed)="onConfirmDelete(true)" (cancelled)="onConfirmDelete(false)">
</app-confirm-modal>