<div class="p-3">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

        <div class="row mb-3 align-items-center">
            <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" id="nombre" class="form-control" formControlName="nombre"
                    placeholder="Ingrese el nombre del usuario" />
                <div *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched"
                    class="text-danger mt-1 small">
                    El nombre es obligatorio
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="apellido" class="col-sm-3 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" id="apellido" class="form-control" formControlName="apellido"
                    placeholder="Ingrese el apellido del usuario" />
                <div *ngIf="usuarioForm.get('apellido')?.invalid && usuarioForm.get('apellido')?.touched"
                    class="text-danger mt-1 small">
                    El apellido es obligatorio
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="usuario" class="col-sm-3 col-form-label">Nombre de usuario</label>
            <div class="col-sm-6">
                <input type="text" id="usuario" class="form-control" formControlName="usuario"
                    placeholder="Ingrese el nombre de usuario" />
                <div *ngIf="usuarioForm.get('usuario')?.invalid && usuarioForm.get('usuario')?.touched"
                    class="text-danger mt-1 small">
                    El nombre de usuario es obligatorio
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="correo" class="col-sm-3 col-form-label">Correo</label>
            <div class="col-sm-6">
                <input type="text" id="correo" class="form-control" formControlName="correo"
                    placeholder="Ingrese el correo del usuario" />
                <div *ngIf="usuarioForm.get('correo')?.invalid && usuarioForm.get('correo')?.touched"
                    class="text-danger mt-1 small">
                    El correo es obligatorio
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="clave" class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" id="clave" class="form-control"
                        formControlName="clave" placeholder="Ingrese la contraseña del usuario" />
                    <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </button>
                </div>
                <div *ngIf="usuarioForm.get('clave')?.invalid && usuarioForm.get('clave')?.touched"
                    class="text-danger mt-1 small">
                    La contraseña correo es obligatoria
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="rol" class="col-sm-3 col-form-label">Rol</label>
            <div class="col-sm-6">
                <select id="rol" formControlName="rolId" class="form-select form-select-sm">
                    <option [ngValue]="null" disabled>Seleccione --</option>
                    <option *ngFor="let rol of roles" [ngValue]="rol.id">{{ rol.rol }}</option>
                </select>
                <div *ngIf="usuarioForm.get('rolId')?.invalid && usuarioForm.get('rolId')?.touched"
                    class="text-danger mt-1 small">
                    El rol es obligatorio
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5 gap-5">
            <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>