<div *ngIf="data?.length" class="d-flex align-items-center justify-content-between mt-3 flex-wrap">

  <div class="text-muted small">
    Página {{ currentPage }} de {{ totalPages }} — Total registros: {{ data.length }}
  </div>

  <div class="d-flex align-items-center gap-2 justify-content-center flex-grow-1 pagination-controls">
    <button class="btn btn-pagination arrow-btn" (click)="firstPage()" [disabled]="currentPage===1">«</button>
    <button class="btn btn-pagination arrow-btn" (click)="prevPage()" [disabled]="currentPage===1">‹</button>

    <button *ngFor="let page of visiblePages" class="btn btn-pagination"
      [ngClass]="{'active': page===currentPage}" (click)="pageChange(page)">
      {{ page }}
    </button>

    <button class="btn btn-pagination arrow-btn" (click)="nextPage()" [disabled]="currentPage===totalPages">›</button>
    <button class="btn btn-pagination arrow-btn" (click)="lastPage()" [disabled]="currentPage===totalPages">»</button>
  </div>

  <div>
    <label>Mostrar:
      <select (change)="changeItemsPerPage($event)" class="form-select form-select-sm d-inline-block"
        style="width: auto;">
        <option *ngFor="let opt of options" [value]="opt">{{ opt }}</option>
      </select>
    </label>
  </div>
</div>

