<div class="modal fade" tabindex="1" [ngClass]="{ 'show': show }" [ngStyle]="{ display: show ? 'block' : 'none' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <h5 class="modal-title fw-bold text-center">{{ title }}</h5>
                <button type="button" class="btn-close position-absolute end-0 me-3 white" (click)="onClose()"></button>
            </div>

            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            
        </div>
    </div>
</div>

<div class="modal-backdrop fade" [class.show]="show" *ngIf="show"></div>